$primary-color: #413f3f;
$primarydark-color: #2e2c2c;
$secondary-color: #bb1280;
$secondary-color-light: #b13385;
$light-color: #f7eeee;
$text-muted-color: #bcbcbd;
$purple-color: #6a5376;
$blue-color: #1ebea5;
$content-color: #dddcdc;
