@import 'components/variables.scss';

.heading-font {
  font-family: Nexa Bold;
}

.largetext-font {
  font-family: Nexa Light;
}

.text-font {
  &-regular {
    font-family: 'Nunito Sans Regular';
  }
  &-semibold {
    font-family: 'Nunito Sans SemiBold';
  }
  &-extrabold {
    font-family: 'Nunito Sans ExtraBold';
  }
  &-bold {
    font-family: 'Nunito Sans Bold';
  }
  &-black {
    font-family: 'Nunito Sans Black';
  }
}

body {
  background: $primarydark-color;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
input {
  outline: none;
}
// scroll bar styling
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $primary-color;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: $primarydark-color;
  border-radius: 1px;
  box-shadow: inset 0 0 rgb(31, 30, 30);
  border: 1px solid $primary-color;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(26, 25, 25);
}
::-webkit-scrollbar-button {
  display: block;
  height: 2px;
  background-color: $primarydark-color;
}
.row {
  margin: 0;
  padding: 0;
}

.text-color-light {
  color: $light-color;
}

.content-color {
  color: $content-color;
}
.linkstyle {
  font-family: 'Indie Flower', cursive;
  color: $text-muted-color;
  text-decoration: none;
  padding: 2%;
  &:hover {
    color: $light-color;

    align-items: center;
    box-shadow: 2px 2px 5px 0 rgba(29, 27, 27, 0.89),
      -3px -3px 2px 0 rgba(94, 88, 88, 0.658);
    border-radius: 10%;
  }
}
